.App {
  text-align: center;
}





.movie-item {
  width: 25rem;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.watchlist-item {
  max-width: 20rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}






